* {
  box-sizing: border-box;
}
/* variables */
:root {
  /* colors */
  --primary: #3e5172;
  --secondary: #f9e9de;
  --error: red;
  /* font-size */
  --h1: 2rem;
  --p: 0.875rem;
}
button,
a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Inter, sans-serf;
  background: var(--primary);
  color: var(--secondary);
}
.header {
  background-color: var(--secondary);
}
.nav-container {
  max-width: 1400px;
  display: flex;

  align-items: center;
  width: 90%;
  margin: auto;
}
.nav-container a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
.nav-container .link {
  margin-right: auto;
}
.signup-link {
  margin-right: 2em;
}

.pages {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
}
.hikes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.hike-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hike-article header h1 {
  font-size: var(--h1);
}
.hike-article > p {
  text-align: center;
  width: 90%;
}
.hike-article > .article-img {
  width: 300px;
}
.hike-article .created-at {
  font-size: 12px;
  opacity: 0.8;
}
.read-more {
  color: var(--secondary);
  text-decoration: none;
  font-style: italic;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 96%;
  margin: 2em auto;
  max-width: 800px;
}
.form > h2 {
  align-self: center;
}
.error {
  color: var(--error);
}
input.error,
text {
  border: 5px solid var(--error);
}
input[type="number"] {
  width: 50px;
}
.form > button {
  background: coral;
  padding: 1em 3em;
  align-self: center;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 1.25rem;
}
.signup-form,
.login-form {
  max-width: 400px;
  text-align: center;
}
.signup-form > input,
.login-form > input {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1em;
}
.fa-trash-can {
  cursor: pointer;
  align-self: center;
}

.single-hike-img {
  width: 90%;
  max-width: 500px;
  align-self: center;
  grid-area: img;
}
.rating-stars {
  color: #cc6c5c;
  position: relative;
  text-align: center;
  top: 3px;
}
.single-hike-header {
  display: flex;
  align-items: center;
  grid-area: header;
  align-items: baseline;
}
.single-hike-body {
  min-width: 300px;
  margin: 0 0.25em;
  max-width: 800px;
  grid-area: body;
  font-size: var(--p);
  line-height: 1.5em;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 600px) {
  :root {
    --p: 18px;
    --h1: 2.25rem;
  }
  .single-hike-body {
    line-height: 1.25em;
    letter-spacing: 0;
  }
  .rating-stars {
    display: inline;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .single-hike-article {
    margin: 3em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img header"
      "img body";
  }
}
